body {
    margin: 0;
    padding: 0;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: white;
    background-color: #000000;
    background-position: top left;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1100px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: 102px;
}

h3 {
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;
}

.main-navigation {
    height: 90px;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;

    border-bottom: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    max-width: 1920px;
}

.main-header-logo {
    width: 176px;
    height: 24px;

}

.nav-flex {
    width: 600px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    min-width: 500px;
}

.nav-icons {
    width: 230px;
    min-width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.site-navigation,
.user-navigation {
    list-style: none;
}


.for-organizers ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

.user-navigation h3 {
    font-size: 30px;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: blue;
}

.site-navigation a:hover,
.user-navigation a:hover {
    text-decoration: underline;
    background-color: green;
}

.arrow {
    width: 16px;
    height: 16px;
    border: 1px;
    solid-color: white;
    box-sizing: border-box;
    color: white;
    padding: 0;
    margin: 0;
}


.calendar {
    width: 215px;
    height: 118px;
    background: #2378FC;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 40px;

}

.calendar h3 {
    width: 127px;
    height: 54px;
    margin: 0;
    padding: 0;

}

.calendar p {
    width: 102px;
    height: 19px;
}

.online-application {
    width: 215px;
    height: 145px;
    background: #FFC41E;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-top: 30px;

}

.online-application h3 {
    width: 160px;
    height: 81px;
    margin: 0;
    padding: 0;
}

.online-application p {
    width: 102px;
    height: 19px;
}

.address {
    width: 215px;
    height: 118px;
    background: #30BCC9;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 30px;
}

.address h3 {
    width: 175px;
    height: 54px;
    margin: 0;
    padding: 0;
}

.complex-plan {
    width: 215px;
    height: 145px;
    background: #F6404F;
    padding-left: 40px;
    padding-top: 30px;

}

.complex-plan h3 {
    width: 175px;
    height: 81px;
    margin: 0;
    padding: 0;
}

.complex-plan p {
    width: 102px;
    height: 19px;
}

.tales-container {
    display: grid;
    grid-template-columns: 255px 255px;
    margin: 0 auto;
    grid-gap: 30px;
}


.main-header {
    height: 800px;
    background-image: url("../img/photo.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-container {
    margin-top: 200px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas: "post-1 post-2"
                         "post-3 post-4";
    grid-template-columns: 400px 540px;
    grid-gap: 30px;
    align-items: start;
    justify-content: center;
}

.grid-h1 {
    width: 420px;
    height: 74px;
    margin: 0;
}


.whois {
    display: flex;
    height: 426px;
    background-color: #2378FC;
    justify-content: center;
    align-items: center;

}

.for-organizers {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
}

.for-organizers li {
    margin-bottom: 20px;
}


.activity {
    background-color: #FFC41E;
    padding: 1px;
}

.container {
    max-width: 1200px;
    max-height: 984px;
    margin: 0 auto;
}

.activity-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 58px 0;
}

.activity-container {

}

.activity-row {
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 0 79px 0;*/
    margin: -15px -15px;
    padding: 0 0 1px 0;
}

.activity-box {
    padding: 15px 15px;
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: center;

}

.activity-item {

}

.item {

}

.item-row {
    display: flex;
    flex-direction: column;
}

.item-img {
    /*flex: 0 0 350px;*/
    width: 350px;
    height: 240px;
}

.item-date {
    font-size: 14px;
    color: #000000;
    text-c
}

.item-body {
    flex: 1 1 auto;
}

.item-title {

}

.item-text {
    text-align: left;
}

.item-text a {
    font-size: 21px;
    color: #F6404F;
}

.item-text p {
    font-size: 16px;
    color: #000000;
}


.news {
    height: 649px;
    background-color: #FAF3E3;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news a {
    color: black;
}

.news-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto auto;
    align-content: space-around;
}

.news-img {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    align-content: space-between;
    min-height: 500px;
    min-width: 500px;
}

.news-img a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-big-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.news-header {
    display: flex;
    justify-content: space-between;

}

.news-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 530px;
    min-height: 150px;
}

.news-text {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: auto;
    margin-left: 20px;
}

.footer-container {
    height: 476px;
    background-color: #5a5ae0;
    padding-top: 100px;
}

.footer-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-height: 476px;
    max-height: 1000px;
    max-width: 1200px;

}

.footer-speaker {
    display: flex;
    flex-direction: column;
}

.footer-speaker ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.footer-speaker li {
    margin-bottom: 10px;
}

.footer-speaker h3 {
    font-size: 21px;
}

.footer-paragraph {
    max-width: 255px;
}

.footer-field {

    margin: 0;
    height: 40px;
    width: 100%;
    background: #A3D0C3;
}


.footer-field form {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-field input {
    width: 100%;
    border: none;
    margin: 0 auto;
}

.footer-field button {
    position: inherit;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background: #F6404F;
    padding: 0;
    cursor: pointer;
    border: none;
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials-icons {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
}

.element-invisible {
    outline: 0;
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
