body {
    margin: 0;
    padding: 0;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: white;
    background-color: #000000;
    background-position: top left;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1100px;
}

a {
    text-decoration: none;
    color: white;
}

 .h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: 102px;
 }

.h3 {
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;
}

.main-navigation {
    height: 90px;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;

    border-bottom: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    max-width: 1920px;
}

.main-header-logo {
    width: 176px;
    height: 24px;

}

.nav-flex {
    width: 600px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    min-width: 500px;
}

.nav-icons {
    width: 230px;
    min-width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.language-icon::before{
    content: url("../img/Globe.png");
    margin-right: 11px;
}

.whois-navigation {
    list-style: none;
}


.whois-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;

}

.whois-navigation li {
    margin-bottom: 10px;
}

.whois-navigation h3 {
    font-size: 20px;
    margin: 0 0 30px 0;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: blue;
}

.site-navigation a:hover,
.whois-navigation a:hover {
    text-decoration: underline;
    background-color: green;
}



.arrow-a-black::after {
    content: url('../img/Arrow 1.png');
    margin: 0 0 0 15px;
    filter: invert(1);
}


.calendar {
    width: 215px;
    height: 118px;
    background: #2378FC;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 40px;

}

.calendar h3 {
    width: 127px;
    height: 54px;
    margin: 0;
    padding: 0;

}

.calendar p {
    width: 102px;
    height: 19px;
}

.online-application {
    width: 215px;
    height: 145px;
    background: #FFC41E;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-top: 30px;

}

.online-application h3 {
    width: 160px;
    height: 81px;
    margin: 0;
    padding: 0;
}

.online-application p {
    width: 102px;
    height: 19px;
}

.address {
    width: 215px;
    height: 118px;
    background: #30BCC9;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 30px;
}

.address h3 {
    width: 175px;
    height: 54px;
    margin: 0;
    padding: 0;
}

.complex-plan {
    width: 215px;
    height: 145px;
    background: #F6404F;
    padding-left: 40px;
    padding-top: 30px;

}

.complex-plan h3 {
    width: 175px;
    height: 81px;
    margin: 0;
    padding: 0;
}

.complex-plan p {
    width: 102px;
    height: 19px;
}

.tales-container {
    display: grid;
    grid-template-columns: 255px 255px;
    margin: 0 auto;
    grid-gap: 30px;
}


.main-header {
    height: 800px;
    background-image: url("../img/photo.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-container {
    margin-top: 200px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas: "post-1 post-2"
                         "post-3 post-4";
    grid-template-columns: 400px 540px;
    grid-gap: 30px;
    align-items: start;
    justify-content: center;
}

.grid-h1 {
    width: 420px;
    height: 74px;
    margin: 0;
}

.arrow-a-white::after{
    content: url('../img/Arrow 1.png');
    margin: 0 0 0 10px;
}


.whois {
    display: flex;

    background-color: #2378FC;


}

.whois-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px 20px 10px;
    margin:  50px 0 50px 0;
}

.whois-container ul {
    padding: 0 10px;
}


.activity {
    background-color: #FFC41E;
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.static{
    width: 1200px;
}

.activity-container{
    margin: 25px 0 14px 0;
    padding: 20px 20px 20px 20px;
}

.activity-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px ;
}
.activity-title h2{
    margin: 0;
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.activity-title a:nth-child(2){
    color: black;
    text-decoration: underline;
}

.black{
    color: black;
}

.activity-row {
    display: flex;
    flex-wrap: wrap;
    margin:  0;
    /*padding: 0 10px;*/
    justify-content: space-between;
}

.activity-box {
    padding: 15px 0;
    flex: 0 1 33.333%;
    flex-direction: row;
    max-width: 350px;

}

.item-row {
    display: flex;
    flex-direction: column;
}

.item-img {
    width: 350px;
    height: 240px;
    padding-bottom: 10px ;
}

.item-date {
    font-size: 14px;
    color: #000000;
    padding-top: 10px;
    margin-bottom: 5px;
}

.item-date p {
    margin: 0;
    padding: 0;
}

.item-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto;
    margin-top: 5px;
}
.item-body a{
    color: red;
}
.item-body h3{
    font-size: 21px;
    margin: 0;
    padding-bottom: 5px;
}

.item-body p{
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    color: #000000;
}


.item-text a {
    font-size: 21px;
    color: #F6404F;
}




.news {
    background-color: #FAF3E3;
    padding: 55px 0 55px 0;
    margin:  0 auto;
}

.news a {
    color: black;
}

.news-container {
    display: flex;
    margin: 0;

    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.news-img {
    padding: 5px;
}

.news-img-parking{
    content: url("../img/parking.jpg");
    width: 445px;
}
.news-img-expo2020{
    content: url("../img/expo2020.jpg");
    margin-top: 60px;
    width: 445px;
}

.news-big-box {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    padding: 10px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-header h2 {
    margin: 0;
}

.news-box {
    display: flex;

}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.news-text b {
    color: black;
}

.news-text h3 {
    margin: 0;
}

.footer-container {
    height: 476px;
    background-color: #5a5ae0;
    padding-top: 100px;
}

.footer-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1200px;
}

.footer-speaker {
    display: flex;
    flex-direction: column;
}

.footer-speaker ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.footer-speaker li {
    margin-bottom: 10px;
}

.footer-speaker h3 {
    font-size: 21px;
}

.footer-paragraph {
    max-width: 255px;
}

.footer-field {
    margin: 0;
    height: 40px;
    width: 100%;
    background: #A3D0C3;
}


.footer-field form {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-field input {
    width: 100%;
    border: none;
    margin: 0 auto;
}



.footer-field button {
    width: 40px;
    height: 40px;
    border: none;
    background: #F6404F;
    padding: 0;
    cursor: pointer;
    border: none;
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials-icons {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
}

.element-invisible {
    outline: 0;
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
