body {
    margin: 0;
    padding: 0;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: white;
    background-color: #000000;
    background-position: top left;

}

a {
    text-decoration: none;
}
h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: 102px;
}

h3{
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;
}

.main-navigation {
    height: 90px;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;

    border-bottom: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
}

.main-header-logo{
    width: 176px;
    height: 24px;

}

.nav-flex{
    width: 700px;

    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: row;
}
.nav-icons{
    width: 230px;

    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: row;
}

.site-navigation,
.user-navigation{
    list-style: none;
}


.main-navigation a{
    color: #ffffff;
    text-decoration: blue;
}

.site-navigation a:hover,
.user-navigation a:hover {
    text-decoration: underline;
    background-color: green;
}

.arrow{
    width: 16px;
    height: 16px;
    border: 1px;
    solid-color: white;
    box-sizing: border-box;
    color: white;
    padding: 0;
    margin: 0;
}


.calendar{
    width: 215px;
    height: 118px;
    background: #2378FC;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 40px;

}

.calendar h3{
    width: 127px;
    height: 54px;
    margin: 0;
    padding: 0;

}

.calendar p{
    width: 102px;
    height: 19px;
}

.online-application{
    width: 215px;
    height: 145px;
    background: #FFC41E;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-top: 30px;

}

.online-application h3{
    width: 160px;
    height: 81px;
    margin: 0;
    padding: 0;

}

.online-application p{
    width: 102px;
    height: 19px;

}

.address{
    width: 215px;
    height: 118px;
    background: #30BCC9;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 30px;

}

.address h3{
    width: 175px;
    height: 54px;
    margin: 0;
    padding: 0;
}

.complex-plan{
    width: 215px;
    height: 145px;
    background: #F6404F;
    padding-left: 40px;
    padding-top: 30px;

}

.complex-plan h3{
    width: 175px;
    height: 81px;
    margin: 0;
    padding: 0;
}

.complex-plan p{
    width: 102px;
    height: 19px;
}

.tales-container{
    /*width: 540px;*/
    display: grid;
    /*align-items: center;*/
    /*justify-content: center;*/
    grid-template-columns: 255px 255px;
    margin: 0 auto;
    grid-gap: 30px;
}


.main-header {
    background-image: url("../img/photo.jpg");
}

.grid-container{
    margin-top: 190px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-areas: "post-1 post-2"
                         "post-3 post-4";
    grid-template-columns: 400px 540px;
    grid-gap: 30px;
    align-items: start;
    justify-content: center;
}

.grid-h1{
    width: 420px;
    height: 74px;
    margin: 0;
}


.element-invisible {
    outline: 0;
    text-indent: -9999em;
    padding: 0;
    margin: 0;
}

.grid{
    width: 900px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    margin: 0 auto;
    grid-gap: 50px;
}

.element{
    height: 100px;
    width: 100px;
    background-color: red;
}